
    header, nav, main, footer {
        max-width: 1200px;
        margin:auto;
    }
    
    
    
    nav ul {padding-left: $gutter;}
    nav li {width:auto;}
    nav a {padding: .5rem 1rem;}
    
    main figure { width: 31%;}
    main .info{
        display:flex;
        flex-direction: row
    }
    main  .contact{
        margin-left:120px; 
    }
    
    div.news {column-count: 3;}
    #rentalsimages{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        grid-gap: 35px 25px;
    }
    main .weather-tab{
        background-color: #AED9E0; 
        opacity: 0.85;
        padding: 20px;
        position: absolute;
        top: 14em;
        right: 14%;
        
        .title{
            font-size: 2em;
            font-family: $piedra;
            
            }
        }
        .index-contact {
            margin-left:3em;
            iframe{
                width:300px;
            }
        }
