
    nav li {width: 25%; float: left;}
    nav ul.response {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    nav button{
        display: none;
    }
    
    main figure {
        float: right; 
        width: 48%; 
        margin-left: 2%;
        padding-bottom: .5rem;
    } 
    
    main .calling{
        display: flex;
        flex-direction: row;}
    
    main .contact{
        display: flex;
        flex-direction:row;

    }
    main .rersev-div{
        display: flex;
        flex-direction: row;}
    
    div.news {
        clear: both;
        column-count: 2;
        column-rule: 1px solid #ddd;
    }