/*
#FFA69E	//rosa
#FAF3DD	//amarelo
#B8F2E6	//verde
#AED9E0	//azul
#5E6472	//preto
*/

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family:  $ubuntu;
    font-size: 16px;
    font-weight: $regularWeight;
} 

header {
    font-family: $piedra;
    background-color: $primaryColor;
    padding: 1rem $gutter;
    display: flex;
    justify-content: center;
    h1 {
        margin: 0; 
        font-size: 1.5rem;
        
    } //end of h1
    h2{
        margin: 0; 
        font-size: 1.2rem; 
        
    } //end of h2
    .sitename{
        font-size: 3em;
        margin-top:0.5em;
        color: #5E6472;
    }

} //end of header


nav {background-color: #FAF3DD;
    font-family: $ubuntu ;
    
    ul.response {
    display: none;
    }
 ul{margin:0; padding: 0;justify-content: space-evenly; }
 li {list-style-type: none; display: list-item;}
 li.active {background-color:#FFA69E;}
 a {
    display: block;
    padding: .8rem 0; /*44px min*/
    color: #5E6472;
    text-align: center;
    text-decoration: none;
    } //end of a
    a:hover {background-color: #FFA69E;}



}//end of nav

main{display: block; padding: 1rem $gutter;
    background-color: none;color: #5E6472;
    h1 {color: #5E6472;
    font-weight: $heavyWeight;
    font-family: $piedra;}
    h2{font-family: $piedra;}//end h2

    .index-section{
    input{padding: 5px;margin-top:15px;}    
    .submitBtn{
    margin-top:10px;}
    h1{text-align: center;}
    

    }
 
    figure{
    margin: 0;
    width: 100%;
    img {width: 100%;}
    
    } //end figure

    .weather-tab{display:none;}

    figcaption {text-align: center; font-size: .8rem;}
    
    .calling{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 20px;
    
    h2{
        font-size:0.8;
        color: #AED9E0;
        
        }//end h2
    }//end calling
    
    .pic-img{
        padding: 10px;
    }
    .banner-index{
        width: auto;
    }

    .type-rental{
        padding: 2em;
        
        
    }
    .index-contact{
        padding-top: 20px;
        text-align: center;
        background-color: #AED9E0;
        
        iframe{
            width:80%;
        }
    }
    
    .contact{
        
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin:auto;
        
        p{
            padding:2em;
        }

    }
    .rersev-div{
        display: flex;
        flex-direction: column;
        h1{text-align: center;}
    }
    .requeriments{
        margin-top: 3em;
        padding: 20px;
    }
    .rental-section{
        width: 100%;
        margin:auto;
        background-color: #AED9E0;
        padding: 20px;
        border-radius: 5px;
        
    .container table{
        background-color: #FAF3DD;
        padding: 5px;
        thead th{
    
    
            background-color:#FFA69E ;   
        }
        tbody th{
            
            background-color: #FAF3DD;
            
        }
        th, td{
            border: solid 1px #B8F2E6;
        }
        tfoot td{
            background-color: #7fb9c2;
            font-size: 10px;
            font-weight: 400;
        }
        tr:nth-child(odd){
            background-color: #AED9E0;
        }
        tr:nth-child(even) {
            background-color: #B8F2E6;
        }
        
    }    

    }
    .info{
        display: flex;
        flex-direction: column;
        margin:auto;
        div{
            padding: 20px;
        }
    }
    .form-contact{
        margin: auto;
        width: 100%;
        
    }
    form .top{
        margin-top:20px;
        font-family:  $ubuntu;
    }
    .weather-tab{
        display: none;
        background-color: #AED9E0; 
        opacity: 0.85;
        padding: 20px;
        position: absolute;
        top: 14em;
        right: 14%;
    
        .title{
            font-size: 2em;
            font-family: $piedra;
            
            }
        }

}//end of main


footer {
    background-color: $primaryColor;
    text-align: center;
    padding: 1rem $gutter;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.logo{
    img{
width: 50%;}
}

// title
//font-family: 'Piedra', cursive;
// normal text
//font-family: 'Ubuntu', sans-serif;

