@media (min-width: 700px) {
    

    header h1 {
        font-size: 30pt;
    }

    header h3 {
        font-size: 16pt;
        margin-top: -10px;
    }

    main{
        min-width: 550px;
        font-size: 12pt;
    }

    nav button {
        display: none;
    }

    nav ul.response {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .today-details{
        max-width: 100px;
        font-size: 7px;
        margin-left: 35px;
    }
    nav li {
        padding: .8rem;
        margin: 0;
        text-align: center;
        border: none;
        font-size: 18pt;
    }

    .contentbox {
        font-size: 14pt;
        padding: 1.5rem;
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    figcaption{
        font-size: 12px;
    }
    .pic-img{
        max-width: 250px;
    }
    .help{
        padding-top:200px;
        padding-bottom: 200px;
        width: 1024px;
      }
      .regular{
       margin: auto;
        
    }
    nav ul li a {
        color:black;
       
    }
    
}
    