@media (min-width: 575px) {
    

    header h1 {
        font-size: 30pt;
    }

    header h3 {
        font-size: 16pt;
        margin-top: -10px;
    }

    

    nav button {
        display: none;
    }

    nav ul.response {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    nav li {
        padding: .8rem;
        margin: 0;
        text-align: center;
        border: none;
        font-size: 18pt;
    }

    .contentbox {
        font-size: 14pt;
        padding: 1.5rem;
    }

}