@media (min-width: 900px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }

    #section3 {
        grid-column: 3 / 4;
    }
   
    
        
}