@media (min-width: 700px) {
    

    header h1 {
        font-size: 30pt;
    }

    header h3 {
        font-size: 16pt;
        margin-top: -10px;
    }

    main{
        min-width: 550px;
        font-size: 12pt;
    }

    nav button {
        display: none;
    }

    nav ul.response {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .today-details{
        
        margin-top: 2.9em;
        margin-left: 35px;
    }
    nav li {
        padding: .8rem;
        margin: 0;
        text-align: center;
        border: none;
        font-size: 18pt;
    }
    .end-box{
        display:flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    

    .contentbox {
        font-size: 14pt;
        
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    figcaption{
        font-size: 12px;
    }
    .pic-img{
        max-width: 250px;
    }
    .help{
        padding-top:200px;
        padding-bottom: 200px;
        width: 1024px;
      }
      .regular{
       margin: auto;
        
    }
    nav ul li a {
        color:black;
       
    }
   .cards section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .map{
        width: 70%;
    }
    .map img{
        width: 40%;
        border-radius: 5px;
    }
    article img{
        float: right;
        max-width: 50%;
    }
    .forecast5{
        background-color: #E5E5E5;
        border: none;
    }
    .forecast5 table {
        width: 100%;
        border: 2px solid black;
        border-radius: 5px;
    }
    .forecast5 tr:nth-of-type(odd) {
        background: #14213D;
    }
    .forecast5 th {
        background: #14213D;
        color: #fff;
        font-weight: bold;
    }
    .forecast5 td, th {
        text-align: center;
    }
    .forescast tbody{
        border-radius: 5px;
    }
    .forecast5 td{
        color: #000000;
        background-color: #E5E5E5;
        text-align: center;
        font-size: 1.5em;
    }
    .forecast5 td img{
        max-width: 3.5em;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .forecast {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #E5E5E5;
        padding: 20px;
        padding-bottom: 1.5rem;
        background-color: #14213D;  
    }
    .forecast h3 {
        color: #E5E5E5;
        padding:10px;
    }
    
}
    