@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');


body {
    background-color: #14213D;
    font-family: 'Merriweather', sans-serif, serif;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin:0;
}
.text-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    justify-content: center;
    display: flex;
    padding-top: .9em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: .5em;
    background-color: #FCA311;
    
}

.icon-logo {
    margin-right: 10px;
    
    
    
    
}
.today-details{
    margin-top:3.5em;
    position: absolute;
    top:1.5em;
    background: #14213D;
    border: 2px solid  #E5E5E5;
    opacity: 0.80;
    color: #fff;
    padding: 5px;
    border-radius: 15px;
    margin-left:25px;
}
.banner-preston{
    width: 100%;
}

.banner-preston img {
    width: 100%;
    
}
.contentbox h2{
    font-size: 1em;
}
.today-weather {
    position: relative;
    max-width: 100%;
    
    background-position: center;
    background-size: 100%;
    border-radius: 5px ;
    

    
    
}

    

table{
    background-color: #000000;

}

article img{
    
    max-width: 70%;
    margin: 10px;
    border-radius: 5px ;
    border: 2px solid black;

}
.article-p{
    margin: 10px;
    
}
header h1, h3 {
    margin: 0;
    
    color: #000000;
    font-family: 'Merriweather', cursive;
}


.sitename{
    text-align: center;
    font-size: 3em;
}
nav {
    background-color: #E5E5E5; 
    margin: 0;
    font-family: 'Merriweather', sans-serif, serif;
    font-size: 18px;
    
}
.forecast{
    display: none;
}
nav button {
    margin: .2rem 2%;
    padding: .8rem 2%;
    background-color: transparent;
    border: none;
    color: #000000;
    border: 2px solid black;
    
    
}

#navigation {
    list-style: none;
    padding: 0;
    margin: 0;
  
}
 nav ul.response {
    display: none;
}

nav li {
    display: block;
    padding: .8rem 2%;
    margin-left: 2%;
    text-align: left;
    text-decoration: none;
    border-top: 1px solid rgba(17, 75, 95, 0.5 );
    border-radius: 5px ;
    border: 2px solid transparent;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    
}

nav ul li.active {
    box-shadow: 0 0 10px black;
    border-radius: 5px ;
    border: 1px solid black;
    background-color: #FCA311;
    
    color: #E5E5E5
}

li:hover {
    box-shadow: 0 0 10px black;
    border-radius: 5px ;
    background-color: #FCA311;
}

.contact-info{
    float:right;
    margin-top:2em; 

}

.map{
    display: flex;
    margin-bottom: 2em;
    margin-top: 2em;
    border-radius: 5px;
    
    
}
.map img{
    width: 50%;
    border-radius: 5px;
    align-items: center;
}

main{
    position: relative;
    width: 100%;
    overflow: hidden;
    color: #E5E5E5;
    max-width: 500px;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}

h2 {
    text-align: center;
}
.contentbox {
    display: block;
    background-color: #FCA311;
    margin: 1rem;
    padding:0.5em;
    color: #000000;
    border-radius: 5px;
}
.end-box{
    display:flex;
    flex-direction: column;
    align-items: center;
}


body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCA311;
    color: #000000;
    font-size: 16px;
    
    
}

footer p {
    margin: 0;
    padding: 15px;
}


iframe{
    max-width: 200px;
    border: 2px solid black;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 10px; 
    padding-bottom: 2em;
    
}

.pic-img img[data-src] {
    filter: blur(0.2em);
    
  }

 .pic-img img {
    filter: blur(0em);
    transition: filter 0.5s;
    max-width: 200px;
    border-radius: 5px 5px;
    
  }
  figcaption{
      
      color:black;
      font-size: 10px;
  }
  .gallery picture{
    background-color:#E5E5E5;
    border-radius: 5px 5px 5px 5px;
  }

  fieldset{
    
    border: solid #E5E5E5 3px;
    margin: auto;
    min-width: 100%;
    width: 200px;
    
    border-radius: 5px 5px 5px 5px;
    
  }
  .regular{
      width: 300px;
      margin: auto;
      
  }
  .help{
    padding-top:200px;
    padding-bottom: 200px;
    width: 1024px;
  }
  
  input{
      width: 100%;
      margin: auto;
  }
  
  textarea{
      width: 100%;
      height: 100px;;
  }
  .submitBtn{
      width: 112%;
      height: 40px;
      background: #E5E5E5;
      border-radius: 10px 10px 10px 10px;
      margin-top: 20px;
      margin-bottom: 50px;
      
      
  }
  #severity{
      color: #FCA311;
  }
  .cards {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 40px 0;
    padding:0px;
    
    
}
.cards p{
    font-size: 12px;
    color: black;
}
.cards h3{
    
    color: black;
    margin: 2px;
    font-weight: 200;
}
.cards h4{
    font-size: 12px;
    color: black;
    font-weight:800; 
    
}
.cards section{
    background-color: #E5E5E5;
    border-radius: 10px 10px 10px 10px;
    
    padding: 5px;
    margin: 10px;
    
}
.navigation{
    background-color: #E5E5E5;
}
.cards img {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    
}

.wireframes{
    display: flex;
    list-style: none;
    margin-bottom: 10px;
    
    
    
}
.wireframes :hover{
    background-color: #FCA311;
    
}
.wireframes a{
    background-color: #E5E5E5;
    border-radius: 5px ;
    
    margin: 10px;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 2px;
    
}
.articles{
    display:flex;
    flex-direction: column;
    align-items: center;
}





