main{
    margin: 5px;
    background-color: #ecebeb;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 500;
    
 }
 main div.cards{
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 1fr;
    box-shadow: 2px 2px 20px 10px gray;
    border-radius: 2px;
    text-align: center;
    padding: 15px;
 }
 h1{
    font-family: 'Trebuchet MS', sans-serif;
    color:  #573a9c;
    font-size: 1.9em;
    font-weight: 800;
    text-align: center;
    
 }
 section{
    background-color: #d4d4fc;
    border: 1px solid rgb(148, 146, 146);
    padding: 10px;     
 }
 section img{
    width: 60%;
    box-shadow: 3px 3px 8px 5px gray;
    height: auto;
 }
 section h2{
    color:  #573a9c;
    margin: 11px 11px 5px 11px;
 }
 div section p{
     font-size: 1.2em;
 }
 section p:nth-of-type(2){
    margin: 0px 11px 10px 11px;
 }
 div section p:first-of-type{
    margin: 5px 10px 0px 10px;
     
 }
 
 footer{
     text-align: center;
     padding: 5px;
 }
 
 @media(min-width: 40rem){
    h1{
     font-size: 2em
    }  
    section h2{
        font-size: 1.2rem;
     } 
     div section p{
         font-size: .75rem;
     }
    main div.cards{
        grid-template-columns: 1fr 1fr;
    }
 }
 @media(min-width: 60rem){
    section h2{
        font-size: 1.1rem;
     }
     main div.cards{
        grid-template-columns: repeat(4, 1fr);
    }
     
    div section p{
        font-size: .7rem;
    }  
 
 }